<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".TabViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 고객등록 액티비티 -->
        <activity android:name=".CustomerRegActivity">
        </activity>
        
        <!-- 고객목록 액티비티 -->
        <activity android:name=".CustomerListActivity">
        </activity>
        
        <!-- 고객정보 액티비티 -->
        <activity android:name=".CustomerDetailActivity"
                  android:label="@string/act_detail">
        </activity>
        
        <!-- 고객삭제 액티비티 -->
        <activity android:name=".CustomerDelActivity">
        </activity>
        
        <!-- 고객정보 수정 액티비티 -->
        <activity android:name=".CustomerModActivity"
                  android:label="@string/act_update">
        </activity>
        
        <!-- 도움알 액티비티 -->
        <activity android:name=".HelpActivity">
        </activity>
        
    </application>

</manifest>